// TODO: bootstrap button group for type, options, current charge, passengers, speed
// TODO: use real-time weather
// TODO:
@import "normalize";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  -moz-osx-font-smoothing: grayscale
}

#container {
  height: 100%;
}

.map {
  height: 100%;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
}

.notification {
  position: relative;
  top: 8px;
  text-align: center;
}

.notification span {
  padding: 4px 14px;
  font-size: 13px;
  font-weight: bold;
  background-color: #f9edbe;
  border: 1px solid #f0c36d;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.directions-overlay {
  position: absolute;
  top: 15px;
  left: 50px;
  z-index: 1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 4px 15px -5px transparent;
}

.directions-overlay input {
  display: block;
  min-width: 285px;
  padding: 3px 10px 3px 35px;
  font-size: 14px;
  line-height: 30px;
  background-color: #fff;
  border: 0;
  outline: 0;
}

.directions-overlay input:focus ~ i {
  color: #4e8ef7;
  transition: all 0.2s cubic-bezier(0.52, 0, 0.48, 1);
}

.directions-overlay input + i {
  position: absolute;
  padding-left: 10px;
  margin-top: -27px;
}

.directions-overlay .route {
  position: absolute;
  top: 0;
  right: 0;
  height: 72px;
  padding: 0 10px;
  font-size: 22px;
  line-height: 72px;
  color: #fff;
  cursor: pointer;
  background-color: #4e8ef7;
  border: 0;
  outline: none;
}

.directions-overlay .button-group button {
  padding: 4px 8px;
  font-weight: 600;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.2s cubic-bezier(0.52, 0, 0.48, 1);

}

.directions-overlay .button-group [class^="ion-"] {
  margin-right: 5px;
}

.directions-overlay .model:hover {
  background-color: rgba(204, 0, 0, 0.7);
}

.directions-overlay .configuration:hover {
  background-color: rgba(51, 51, 51, 0.7);
}

.directions-overlay .charge:hover {
  background-color: rgba(46, 204, 64, 0.7);

}

.directions-overlay .options:hover {
  background-color: rgba(72, 61, 139, 0.7);
}

.directions-overlay hr {
  position: absolute;
  left: 35px;
  width: 285px;
  height: 1px;
  padding-left: 10px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
}

nav {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav a {
  padding: 0 10px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
